<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="SupportCenterDB_EFCodeFirst" connectionString="Data Source=SQL5012.Smarterasp.net;Initial Catalog=DB_9F308E_WcfSupportcenter;User Id=DB_9F308E_WcfSupportcenter_admin;Password=HALO33owns**;" providerName="System.Data.sqlClient"/>
    </connectionStrings>
    <system.serviceModel>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITicket" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITicket" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ironhide-pc/IIsHostWcf/WcfService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicket"
                contract="WcfReference.ITicket" name="BasicHttpBinding_ITicket" />
            <endpoint address="http://ironhide-pc/IIsHostWcf/WcfService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITicket"
                contract="WcfReference.ITicket" name="WSHttpBinding_ITicket">
                <identity>
                    <servicePrincipalName value="host/Ironhide-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\log\WebTrace.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>