<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\ironhide\documents\visual studio 2015\projects\wcf\service\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="Service.TicketService">
        <endpoint
          address="/basic"
          binding="basicHttpBinding"
          contract="Service.ITicket" />
        <endpoint
          address=""
          binding="wsHttpBinding"
          contract="Service.ITicket"
          bindingConfiguration="wsHttp" />
        <!--<endpoint 
        address="/rest" 
        behaviorConfiguration="webBehavior"
        binding="webHttpBinding" 
        contract="Service.ITicketREST" />
        
        <endpoint
          address="/tcp"
          binding="netTcpBinding"
          contract="Service.ITicket"/>-->
        <endpoint
                  contract="IMetadataExchange"
                  address="mex"
                  binding="mexHttpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service/TicketService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="SupportCenterDB_EFCodeFirst" connectionString="Data Source=SQL5012.Smarterasp.net;Initial Catalog=DB_9F308E_WcfSupportcenter;User Id=DB_9F308E_WcfSupportcenter_admin;Password=HALO33owns**;" providerName="System.Data.sqlClient"/>
  </connectionStrings>
</configuration>
