<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type=""/>
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type=""/>
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\Users\Ironhide\Documents\Visual Studio 2015\Projects\WcF\WcfHost\Web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type=""/>
			</add>
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Service.TicketService">
				<endpoint address="/basic" binding="basicHttpBinding" contract="Service.ITicket"/>
				<endpoint address="" binding="wsHttpBinding" contract="Service.ITicket" bindingConfiguration="wsHttp" />
				<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service/TicketService/" />
          </baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="SupportCenterDB_EFCodeFirst" connectionString="Data Source=SQL5012.Smarterasp.net;Initial Catalog=DB_9F308E_WcfSupportcenter;User Id=DB_9F308E_WcfSupportcenter_admin;Password=HALO33owns**;" providerName="System.Data.sqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
